<body>
  <section class="property-binding">
    <article>
      <h3>Interpolation</h3>
      <p>String interpolada: {{ url }}</p>
      <p>Resultado de 1+1: {{ 1+1 }}</p>
      <p>Resultado de 1+1 não é: {{ 1 + 1 + getValor() }}</p>
      <p>Resultado de boolean: {{ getBoolean() }}</p>
    </article>
    <article>
      <h3>Propriedade</h3>
      <img [src]="getUrlImage">
      <img bind-src="getUrlImage" />
      <img src="{{ getUrlImage }}" />
    </article>
  </section>
  <section class="class-style-biding">
      <h3>Class e Stile binding</h3>
      <div>
        Selecione uma classe:
        <select #classe (change)="0">
        <option value="alert-sucess">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Erro</option>
      </select>
        <br><br>

        <div class="{{ classe.value }}">
          texto que será colorido conforme a seleção
        </div>
        <br>
        <div class="alert-danger"
          [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
          texto que aparecerá somente em caso de erro
        </div>

      </div>

      <div>
        <select #teste (change)="0">
          <option value="t1">1</option>
          <option value="t2">2</option>
          <option value="t3">3</option>
        </select>
        <div [class]="teste.value">texto</div>
      </div>
  </section>
  <section class="event-biding">
    <article>
      <h3>event biding</h3>
      <div>
        <h5>botão</h5>
        <button (click)="botaoClicado()"
        class="btn btn-primary">
          Me Clique!
        </button>

      <br>
        <h5>campo</h5>
      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor( $event.target.value )"
      (blur)="salvarValor( campoInput.value )"
      #campoInput>

      <p>Valor digitado: {{ valorInput }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <h5>mouse</h5>
      <span
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()"
      [class.mouseover]="isMouseOver">
        passe o mouse sobre aqui
      </span>
      <p>O mouse está sobre?</p>
      <p>R: {{ isMouseOver }}</p>
      </div>
    </article>
  </section>

  <br>

  <section class="two-way-binding">
    <article>
      <div>
        <h3>Two way Binding</h3>
        <h5>Um Campo oneway</h5>
        <p>Você digitou: {{ nome }}</p>
        <input type="text"
          [value]="nome"
          (input)="nome = $event.target.value"
        />
        
        <input type="text"
          [ngModel]="nome"
          (ngModelChange)="nome = $event"
        />

        <h5>Twoway</h5>
        <input type="text" [(ngModel)]="nome"/>

        <h5>TwoWay com Objeto</h5>
        <p>nome: </p>
        <input type="text" [(ngModel)]="pessoa.nome">
        <p>Idade: </p>
        <input type="text" [(ngModel)]="pessoa.idade">
        <p>O nome é: {{ pessoa.nome }} e a idade é: {{ pessoa.idade }}</p>
        <!--
          Foi necessário importar FormsModule de @angular/forms
          no app.module para funcionar o [ngModel]
        -->
      </div>
    </article>
  </section>
</body>